text {
    font-size: 2.0rem;
    text-anchor: middle;
    pointer-events: none;
    dominant-baseline: middle;
}

rect {
    transition-duration: 0.25s;
}

    rect:hover {
        fill-opacity: 1.0;
    }
