@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Histogram!</h1>

<p>
    <HistChart Model="@histogram" Color="@KnownColor.CadetBlue"></HistChart>
</p>
<p>
    <BarChart Model="@bargram" Color="KnownColor.OrangeRed"></BarChart>
</p>

