html, body {
    overscroll-behavior: none;
    overflow: hidden;
    height: 100dvh;
}

a {
    text-decoration: none !important;
    color: black;
}
    a:link {
        color: black;
    }

    a:hover {
        color: royalblue !important;
    }

    a:visited {
        color: black;
    }

.fit-content {
    width: fit-content;
}

.h-stretch {
    height: stretch !important;
}

.pulse-animation {
    animation: pulse alternate infinite 0.5s ease-in-out;
}

@keyframes pulse {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}