html, body {
    overscroll-behavior: none;
    overflow: hidden;
    height: 100dvh;
}

a {
    text-decoration: none !important;
    color: black;
}
    a:link {
        color: black;
    }

    a:hover {
        color: royalblue !important;
    }

    a:visited {
        color: black;
    }

.fit-content {
    width: fit-content;
}

.h-stretch {
    height: stretch !important;
}

.pulse-animation {
    animation: pulse alternate infinite 0.5s ease-in-out;
}

.spin-animation {
    animation: spin infinite 2s linear;
}

.fadein-animation {
    animation: fadein 0.5s ease-in;
}

@keyframes pulse {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes fadein{

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}