<div>
    @if (Model != null)
    {
        if (Direction == Positioning.Vertical)
        {
            foreach (LegendItem item in Model.ToLegend())
            {
                <div class="legend-item">
                    <svg width="1.5em" height="1em" style="min-width:1.5em;">
                        <circle cx="0.5em" cy="0.5em" r="0.5em" fill="@item.Color.ToHex()" />
                    </svg>
                    <div class="text-truncate">@item.Text</div>
                </div>
            }
        }
        else if (Direction == Positioning.Horizontal)
        {
            <div class="legend-bar">
                @foreach (LegendItem item in Model.ToLegend())
                {
                    <div class="legend-item">
                        <svg width="1.5em" height="1em" style="min-width:1.5em;">
                            <circle cx="0.5em" cy="0.5em" r="0.5em" fill="@item.Color.ToHex()" />
                        </svg>
                        <div class="text-truncate">@item.Text</div>
                    </div>
                }
            </div>
        }
    }
</div>