path {
    transition-duration: 0.25s;
    transform-origin: center;
}

    path:hover {
        scale: 105%;
        fill-opacity: 1.0;
    }

.fade-in {
    animation: fadein 0.5s ease-in;
}

@keyframes fadein {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
