path, line {
    transition-duration: 0.25s;
}

g > circle {
    cursor: pointer;
    transition-duration: 0.25s;
}
    g > circle:hover {
        r: 15px;
    }

g > path:hover {
    stroke-width: 2px;
}

    g > path:hover ~ circle {
        display: none;
    }

.fade-in {
    animation: fadein 0.5s ease-in;
}

@keyframes fadein {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
