path {
    cursor: pointer;
    transition-duration: 0.25s;
}
    path:hover {
        stroke-width: 4px;
    }

circle {
    cursor: pointer;
    transition-duration: 0.25s;
}
    circle:hover {
        r: 15px;
    }

svg {
    max-height: 100%;
    width: auto;
    margin: auto;
    display: block;
}