rect {
    cursor: pointer;
    transition-duration: 0.25s;
}
    rect:hover {
        fill-opacity: 1.0;
    }

svg {
    max-height: 100%;
    width: auto;
    margin: auto;
    display: block;
}

.extend-right {
    animation: scale-x 0.5s linear;
    transform-box: fill-box;
    transform-origin: left center;
}

.extend-left {
    animation: scale-x 0.5s linear;
    transform-box: fill-box;
    transform-origin: right center;
}

@keyframes scale-x {

    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}