rect {
    cursor: pointer;
    transition-duration: 0.25s;
}
    rect:hover {
        fill-opacity: 1.0;
    }

svg {
    max-height: 100%;
    width: auto;
    margin: auto;
    display: block;
}

.scale-up {
    animation: scale-y 0.5s linear;
    transform-box: fill-box;
    transform-origin: bottom center;
}

.scale-down {
    animation: scale-y 0.5s linear;
    transform-box: fill-box;
    transform-origin: top center;
}

@keyframes scale-y {

    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}