path {
    cursor: pointer;
    transition-duration: 0.25s;
}
    path:hover {
        fill-opacity: 1.0;
    }

text {
    font-size: 2.0rem;
    text-anchor: middle;
    pointer-events: none;
    dominant-baseline: middle;
}
    text.anchor-start {
        text-anchor: start;
    }

    text.anchor-end {
        text-anchor: end;
    }

    text.rotated90 {
        transform: rotate(-90deg);
        transform-box: fill-box;
    }

svg {
    max-height: 100%;
    width: auto;
    margin: auto;
    display: block;
}