text {
    font-size: 2.0rem;
    text-anchor: middle;
    dominant-baseline: middle;
}
    text.tick {
        font-size: 1.5rem;
        dominant-baseline: ideographic;
    }

g > circle {
    cursor: pointer;
    transition-duration: 0.25s;
}
    g > circle:hover {
        r: 1em;
    }
