header {
    height: 4rem;
}

main {
    max-height: calc(100dvh - 4rem);
}

nav {
    width: 100%;
    cursor: default;
    position: fixed;
    overflow: auto;
    z-index: 1000;
    top: 4rem;
    left: 0;
    max-height: calc(100dvh - 4rem);
}
