header {
    height: 4rem;
}

aside {
    width: 10rem !important;
    color: white;
}

main {
    height: calc(100vh - 4rem);
}

.chart{
    height: 15rem;
    width: 15rem;
    max-width: 100%;
}

.gauge {
    height: 15rem;
    width: 25rem;
    max-width: 100%;
}

.fit-content{
    width: fit-content;
}
